.titleText
{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

body
{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3329ee1d-8210-45cc-aa13-cfb4adb486dd/d4ui2q0-087aebea-df0c-4fb5-94c9-b95d3c819a89.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMzMjllZTFkLTgyMTAtNDVjYy1hYTEzLWNmYjRhZGI0ODZkZFwvZDR1aTJxMC0wODdhZWJlYS1kZjBjLTRmYjUtOTRjOS1iOTVkM2M4MTlhODkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BBBoGiLJxJJeWE6yimUY3NtU2MetetrnbyLEFMNBJdw);
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
}

.otherText
{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

button
{
    font-size: 5vw;
    padding: 5px 10px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #0056b3;
}


.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    height: auto;
    width: 45vw;
    
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #fff; 
    padding: 5px 10px; 
    font-size: 5vw; 
    text-align: center;
  }

.buttonsTwo1
{
  text-align: center;
  margin-top: 30%;
}

.buttonsTwo2
{
  text-align: center;
  margin-top: 30%;
}

.fight1Image
{
  display: block;
  margin-left: 90;
  margin-right: auto;

}

.fight2Image
{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.buttonstwotwo
{
  text-align: center;
  margin-top: 30%;

}

.buttonsthreeone
{
  text-align: center;
  margin-top: 30%;

}